$color_page_background: linear-gradient(to right, #00AAFF, #00FF6C);
$color_calculator_output_background: rgba(0,0,0,.75);
$color_calculator_output_text: #fff;
$color_calculator_button_border: #fff;
$color_calculator_button_background: rgba(255,255, 255,.85);
$color_calculator_button_hover_background: rgba(255,255,255,.9);